body {
	width: 775px;
	height: 580px;
	margin-top: 20px;
	/* margin: 0 auto; */
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	font-size: 14px;
	font-family: LiberationSans, sans-serif;
}

.newspaper {
	height: 540px;
	margin: 20px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 7px;
	
}

.newspaper__left {
	width: 470px;
	margin-right: 10px;
	float: left;
}

.newspaper__left_poster{
	height: 241px;
	position: relative;
}
.newspaper__poster-text {
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: black;
	font-size: 18px;
    padding: 5px;
}
.newspaper__right {
	width: 230px;
	float: left;
}

.newspaper__posts {
	height: 275px;
	border: 1px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.newspaper__cards {
	height: 220px;
	padding: 10px;
}
.newspaper__footer {
	float: left;
	line-height: 14px;
	border-top: 1px solid #b3b3b3;
	padding: 5px;
    font-size: 11px;
	background-color: #efefef;
}

.card {
	width: 218px;
	float: left;
}

.card__photo {
	float: left;
	margin-right: 10px;
}

.card__text {
	width: 163px;
	float: left;
}

.card__request{
	font-size: 11px;
	margin-top: 8px;
	margin-bottom: 6px;
}
.card__request img {
	margin-right: 5px;
	padding-top: 0.7px;
}

.mr-10 {
	margin-right: 10px;
}

/* .mr-5 {
	margin-right: 5px;
} */

.mb-8 {
	margin-bottom: 8px;
}

.mb-5 {
	margin-bottom: 5px;
}

.grey {
	color: #515151;
}

.bold {
	font-weight: bold;
}

.fz-12{
	font-size: 12px;
}

.lh-1 {
	line-height: 1;
}
.newspaper__right_news {
	height: 140px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.newspaper__news {
    height: 81px;
    padding: 7px;
}

.newspaper__right_poster{
	height: 114px;
	position: relative;
}
