body {
	width: 775px;
	height: 580px;
	margin: 0 auto;
	border: 1px solid black;
	font-size: 14px;
	font-family: LiberationSans, sans-serif;
}

/* table {
	border: 0;
}

td {
	padding: 10px;
	vertical-align: top;
	border: none;
} */

.newspaper {
	height: 530px;
	margin: 20px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 7px;
	
}

.newspaper__left {
	width: 470px;
	margin-right: 10px;
	float: left;
}

.newspaper__left_poster{
	height: 241px;
	position: relative;
}
.newspaper__poster-text {
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: black;
	font-size: 18px;
    padding: 5px;
}
.newspaper__right {
	width: 230px;
	float: left;
}

.newspaper__posts {
	height: 287px;
	border: 1.5px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* border: 1px solid black; */
}
.newspaper__cards {
	height: 219px;
	padding: 10px;
}
.newspaper__footer {
	float: left;
	/* margin-top: 10px; */
	border-top: 1px solid #dadada;
	padding: 5px;
    font-size: 11px;
	background-color: #dadada;
}

.card {
	width: 218px;
	float: left;
}

.card__photo {
	float: left;
	margin-right: 10px;
}

.card__text {
	width: 163px;
	float: left;
}

.card__request{
	font-size: 13px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-5 {
	margin-right: 5px;
}

.mb-8 {
	margin-bottom: 8px;
}

.grey {
	color: #515151;
}

.bold {
	font-weight: bold;
}

.fz-12{
	font-size: 12px;
}
.newspaper__right_news {
	height: 145px;
    border: 1.5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.newspaper__news {
    height: 81px;
    padding: 8px;
}

.newspaper__right_poster{
	height: 114px;
	position: relative;
}
